body{
	background-color: #737ACC;
}

p{
	color: #A9DDFF;
	font-size: 30px;
}



	
#title {
	/*background-color: slategrey;*/
	color: #A9DDFF;
	text-align: center;
	font-size: 72px;
	font-family: fantasy;

}

#sidenote {
	/*background-color: lightgrey;*/
	color: #A9DDFF;
	text-align: center;
	font-size: 18px;
	font-family: cursive;
	margin-right: 300px;
	margin-left: 300px;

}

#left {
	position: relative;
	left: 50px;
}

#right {
	/*float: right;*/
	/*float right is not working*/

/*	position: relative;
	left: 600px;
	bottom: 1200px;*/
}

.myslides{
	max-width: 100px;
	max-height: 100px;
}
/*#upsidedown {
	transform: rotate(90deg);
	width: 200px;

}*/

.pictures{
	width: 200px;
    height: 120px;
}
.pictures img {
    width: 100%;
    height: auto;

}
#gallerytitle{
	text-align: center;
}

#nav {
	
	position: fixed;
	bottom: 100px;
	color: #FFAC6A;
	font-size: 20px;
	text-align: center;
}

#nav a:visited{
	color: #FFAC6A
}
a[href^="mailto:"]{
	color: #A9DDFF
}
a[href^="tel:"]{
	color: #A9DDFF
}
#information{
	text-align: center;
	margin: 0 auto;
}
#info {
	text-align: center;
	margin: 0 auto;
	font-size: 50px;

}

#information a:link{
	color: #A9DDFF
}

#information a:visited{
	color: #A9DDFF
}
#contact{
	text-align: center;
	margin: 0 auto;
	font-size: 50px;
	color: #FFAC6A;
	
}
#contact a:visited{
		color:#FFAC6A;
	}

#pics{
	max-width: 200px;
	max-height: 200px;
}


















